<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat Da Burger</title>
		<link rel="stylesheet" href="/assets/css/burger_style.css">
	</head>
	<body>
		{{{ body }}}
	</body>
	<script src="b"></script>
</html>
