body{

	background-color: #CFEBEA;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	position: relative;

}

button {
	background-color: white;
	color: black;
}

h1 {

	line-height: 40px;
	padding:4px;
	background-color: #389096;
	color:white;
}
h2{

	color:white;
	background-color: #B8BD5E;
}

#made {
	display: inline;
	float: left;
	margin-left: 2%;

}
#name{
	color: lightgrey;
}


#eaten {
	display: inline;
	float: right;
	margin-right: 4%;
}

#create {
	position: absolute;
	bottom: -560px;
	left: 30%;


}
#addOne{
	display:inline;
	float: right;
	line-height: 20px;
	font-size: 20px;
}

#burgerName{
	
	margin:auto;
	line-height:30px;
	font-size:20px;
	width:300px;
	

}

#burger {
	width:300px;
	display:inline;
	float:left;
	margin-left: 3%;
}